.mk-pointer {
  cursor: pointer;
}

.status-badge {
  border-radius: 15px;
  padding: auto 15px;
}

.rejected {
  background-color: rgb(211, 11, 11);
}

.form-control {
  border: solid 1px #cccccc;
}

.approved {
  background-color: rgb(42, 184, 7);
}

.pending {
  background-color: rgb(247, 178, 29);
}

.mylabel {
  margin-bottom: 10px;
  padding: 6px 10px;
  display: inline-block;
  border-radius: 18px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.to-select-label {
  background-color: #eeeeee;
  color: #000000;
}

.to-select-label:hover {
  background-color: #cccccc;
  transition-duration: 0.25s;
}

.selected-label {
  background-color: #ff5a5f;
  color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.wit-comment-viewer {
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  border-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition-duration: 0.25s;
  margin-bottom: 15px;
}

.wit-comment-viewer:hover {
  box-shadow: 5px 5px 5px rgb(184, 184, 184);
  border-color: rgb(184, 184, 184);
}

.unread-notification {
  background-color: #fcfcfc;
  border-color: #f5f5f5;
  box-shadow: 5px 5px 5px rgb(184, 184, 184);
}

.read-notification {
  background-color: #ffffff;
}

.selected-business {
  border-left: solid 4px #b8b8b8;
  background-color: rgb(245, 245, 245);
  /* box-shadow: 10px 10px 10px #cccccc; */
}

.shadow-boxing {
  box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

.my-open {
  cursor: pointer;
  transition-duration: 0.25s;
}

.my-open:hover {
  font-weight: bold;
  transition-duration: 0.25s;
}

.notification-icon {
  width: 30px;
  margin-right: 10px;
}

.radius-100 {
  border-radius: 100px;
}

.page-wrapper.d-flex.flex-wrap {
  min-height: 100vh;
}

.collapse-button {
  cursor: pointer;
}

.collapse-button:hover {
  color: #ff5a5f;
}

.show-section {
  display: "";
  transition-duration: 0.25s;
}

.hide-section {
  display: none;
  transition-duration: 0.25s;
}
